# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [1]:
x = set()
print(x)

set()

* create a non empty set
* print that set

In [2]:
x = {1,2,3,4}
print(x)

{1, 2, 3, 4}

* iterate over the set and print results

In [3]:
for i in x:
    print(i)

1
2
3
4

* add one item to the set

In [6]:
x.add(5)
print(x)

{1, 2, 3, 4, 5}

* add multiple items to the set

In [7]:
a = {7,8,9}
b = {11,12,13}
un = x|a|b
print(un)

{1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13}

* remove an item from a set if it is present in the set

In [11]:
un.remove(13)
print(un)

{4, 5, 7, 8, 9, 11, 12}

* find maximum and minimum values of the set

AttributeError: 'set' object has no attribute 'max'

* print the length of the set

In [12]:
print(len(x))

5

* create an intersection of x and y

In [13]:
y = {5,6,7,8}
inter = x&y
print(inter)

{5}

* create an union of x and y

In [14]:
x|y

{1, 2, 3, 4, 5, 6, 7, 8}

* create difference between x and y

In [15]:
x-y

{1, 2, 3, 4}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [22]:
from collections import Counter
sentence = "black cat jumped over white cat".split()
print(sentence)
cnt = Counter(sentence)
print(cnt.most_common())

['black', 'cat', 'jumped', 'over', 'white', 'cat']
[('cat', 2), ('black', 1), ('jumped', 1), ('over', 1), ('white', 1)]

* print the most common words

In [23]:
print(cnt.most_common()[0])

('cat', 2)

* count the occurences of words in the same sentence but now use **defaultdict**

In [ ]:
from collections import Counter
sentence = "black cat jumped over white cat".split()
print(sentence)
cnt = Counter(sentence)
print(cnt.most_common())

* create deque from list set used in first exercise

In [24]:
new = deque(x)

* append number 10 to deque

In [25]:
new.append(10)

* remove element from the right end from deque

In [26]:
new.pop()

10

* remove element from the left end from deque

In [27]:
new.popleft()

1

* delete all elements from deque

In [28]:
new.clear()

* create named tuple (people) with name and surname as position names

In [34]:
from collections import namedtuple
People = namedtuple('People','fname, lname')
p1 = People("Depp", "Jonhny")
print(p1.fname)

Depp

* print name and surname

In [35]:
from collections import namedtuple
People = namedtuple('People','fname, lname')
p1 = People("Depp", "Jonhny")
print(p1)

People(fname='Depp', lname='Jonhny')

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [ ]:
try:
    
except:

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [53]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Ham"] = "brother in law"
    _dict["R2D2"] = "droid"
    print("Luke, I am your", _dict[text])

#### Task I
Fix errors in the function above so we can run following code

In [54]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Ham")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

In [58]:
relation_to_luke("aaaaaa")

KeyError: 'aaaaaa'

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [59]:
try:
    text = input("Re-enter the related name")
    relation_to_luke(text)
except KeyError:
    print(text, "is not in the relation with Luke")

aaaaa is not in the relation with Luke